{% extends "base.html" %}

{% block header %}<h1>{{ package }}</h1>{% endblock %}

{% block content %}
  <h2>Spidered Links ({{ per_url|length }})</h2>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Spidered URL</th>
        <th># Installation Candidates</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for url, candidates in per_url.iteritems() %}
        <tr>
          <td>{{ url }}</td>
          <td>{{ candidates|length }}</td>
          <td>{% if candidates %}<a href="#{{ hashed[url] }}" data-toggle="modal">View Candidates</a>{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if external_only %}
    <h2>Only Available Externally ({{ num_external_only }})</h2>
    <table class="table table-hover">
      {% for v in external_only %}
        <tr>
          <td>{% if v[0] %}{{ v[0] }}{% endif %}</td>
          <td>{% if v[1] %}{{ v[1] }}{% endif %}</td>
          <td>{% if v[2] %}{{ v[2] }}{% endif %}</td>
          <td>{% if v[3] %}{{ v[3] }}{% endif %}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% for url, candidates in per_url.iteritems() %}
    {% if candidates %}
      <div id="{{ hashed[url] }}" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Installation candidates from {{ url }}</h3>
        </div>
        <div class="modal-body">
          <ul>
            {% for c in candidates %}
              <li><a href="{{ c[1] }}">{{ c[1] }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}
