{% extends "base.html" %}

{% block header %}
  <form action="/internal/package_redirect/" method="GET" id="search">
    <div class="input-append">
      <input name="package" class="input-xxlarge" type="text" placeholder="Type the name of a package...">
      <button class="btn" type="submit">Go!</button>
    </div>
  </form>
{% endblock %}

{% block content %}
  {% if stats %}
    <h2>Top "Slow Installation" Projects <a href="#" data-toggle="tooltip" title="&quot;Slow&quot; means extra urls besides PyPI must be scraped to install"><i class="icon-question-sign"></i></a></h2>
    <p class="muted">Updated once an hour, last updated at {{ last_updated }} UTC</p>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Project</th>
          <th>Spidered Links</th>
          <th>External Only Versions</th>
        </tr>
      </thead>
      <tbody>
        {% for stat in stats %}
          <tr>
            <td><a href="/{{ stat.package }}/">{{ stat.package }}</a></td>
            <td>{{ stat.per_url|length }}</td>
            <td>{{ stat.external_only|length }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
